<div class="row">

 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo-wrapper">

 </div>

 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 logo-wrapper">
     
     <%= image_tag "contactenos.jpg", :alt => "Contacto", :title => "Contacto"%>
 </div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo-wrapper">

 </div>
</div>


 <section id="email-subscribe">
   <div class="container">
      <div class="row text-center">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
           <form action="subscribe.php" method="post" id="postcontent"> 
              <input type="email" name="email" class="form-control" placeholder="Enter Your E-mail Address..." required />
              <button type="submit" class="btn btn-subscribe"  >Escribenos !</button>
          </form>
      </div>
    </div>
  </div>
  </section>
