<!DOCTYPE html>
<html lang="en">
<head>
   
    <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- HEADER SECTION START-->
   
    <!-- HEADER SECTION END-->
    



    <!--HOME SECTION START  -->

    <div id="home">
        <div class="overlay">
            <div class="container">
                <div class="row scroll-me" >
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <h1 >Bienvenidos</h1>
                    <h4>
                        <strong>COLEGIO EXTERNADO DE COLOMBIA</strong> , es una institución educativa de carácter privado con énfasis en administración de empresas, cuyo propósito es formar personas con calidad humana y pensamiento crítico. Igualmente capaces de resolver problemas y con saberes científicos -  tecnológicos.

                    </h4>
                    <a href="#about" class="btn btn-custom btn-two" ><strong>Explorar</strong></a>
                    <strong><%= link_to 'Registrarse ', new_acudiente_registration_path, class:"btn btn-custom btn-one" %> </strong> </a>

                </div>
 

                </div>
              
                
            </div>
        </div>

    </div>
    <!--HOME SECTION END  -->
     <!-- ABOUT SECTION START-->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h2 class="head-line">Nuestra Politica de Calidad</h2>
                    <p >
                       Coexco se compromete ante la sociedad de la región caribe a formar personas con un perfil integral, capaces de transformar su entorno con un modelo pedagogico, un talento humano competente y una infraestructura, que nos permita mejorar continuamente nuestro sistema de gestión de la calidad.
                    </p>
                   
                    
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center" >
                    <img src="assets/img/phone.png" class="img-side" alt="" />
                </div>
            </div>
        </div>
    </section>

    
     <!-- SUBSCRIBE SECTION END-->
     <!-- CONTACT SECTION START-->
 
     <!-- CONATCT SECTION END-->
    <!-- FOOTER SECTION START-->
    
</body>
</html>
