<section id="clients">
        <div class="overlay">       
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  client-cover" >
                     <div id="carousel-example" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="testimonial-section">
                             El COLEGIO EXTERNADO DE COLOMBIA, es una institución Educativa de carácter privado con énfasis en administración de empresas, cuyo propósito es formar personas con calidad humana y pensamiento crítico. Igualmente capaces de resolver problemas y con saberes científicos -  tecnológicos.

                        </div>
                        <div class="testimonial-section-name">
                            <!--<img src="assets/img/client1.jpg" alt="" class="img-circle" />-->
                            -  <STRONG>Misión</STRONG>
                        </div>
                            
                        </div>
                        <div class="item">
                           <div class="testimonial-section">
                             Para el 2015 será una Institución posicionada en el noroccidente de Barranquilla y con gran reconocimiento en el Caribe Colombiano, por sus procesos educativos basados en competencias y con altos estándares de calidad; por supuesto con estudiantes íntegros en sus valores éticos.  
                        </div>
                        <div class="testimonial-section-name">
                            <!--<img src="assets/img/client2.jpg" alt="" class="img-circle" />-->
                            -  <strong>Visión</strong>
                        </div>
                            
                        </div>
                        
                         <!--INDICATORS-->
                    <ol class="carousel-indicators carousel-indicators-set">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                    </ol>

                    </div>
                   
                </div>
                </div>
            </div>
           
        </div>
             </div>
    </section>